# IDE
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
xcuserdata/

# Go
vendor/
tmp/
temp/
doc/local/
*.local.*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
*.log
